body{
    margin:0px;
    padding:0px;
   box-sizing:border-box;
  
}
.item{
   
    text-align: center;
   

    
    width: 100%;
    min-height: 10px;
    background-color: #e42b26;
    display: flex;
}
    

.offer-link {
  text-decoration: none;   
  font-size: 1.2em;        
  color: white;         
  font-weight: bold;      
  
  margin-left: 600px;
  
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    
    
   
}

.offer-link:hover {
 
  text-decoration:underline; 
}



@media screen and (max-width: 767px) {
  .item {
    padding: 5px;
    text-align: center;
    border:1px solid #dc3545;
padding:10px 10px;
    /* height:400px; */
    background-color:#d20d21;;
  }

  .item a {
    font-size: 13px;
  }
}


@media screen and (min-width: 768px) and (max-width: 1024px) {
  .item {
    padding: 10px;
    font-size: 15px;
  }

  .item a {
    font-size: 14px;
  }
}


@media screen and (min-width: 1025px) {
  .item {
    padding: 15px;
    font-size: 16px;
  }

  .item a {
    font-size: 15px;
  }
}

.logo{
    margin:10px;
    
    display:flex;
}
.logo img{
  padding: 2px;
  margin-top:2px;
 max-width:50%;
 height:50%;
 vertical-align: middle;
}


.search{

margin-left:100px;
padding:25px;
display:flex;
}
 .search input{

width: 520px;
    padding: 5px;
    margin: 0px 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

   
    border: 1px solid red;
    box-sizing: border-box;
    text-transform: capitalize;
    font-size: 17px;
}
input:hover{
  border-color: red;
}
.icon{
    
    margin-rightt:150px;
    background-color: red;
    color:white;
    padding:10px 20px;
}
.account {
    display: flex;
    align-items: center;
    font-family: Arial, sans-serif;
    /* font-size: 16px; */
    
    cursor: pointer;
    margin-left:420px;
  }

  .account img {
   width:30px;
    margin-right: 8px; 
    color:red;/* Spacing between icon and text */
  }

  .account p {
    /* Remove default margin */
    color: #707070;
    font-size:15px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

    
    cursor:pointer;
    
  }
  .account span{
    color: #e42b26;;
    font-size:25px;
    width:15px;
    margin-left:20px;
  }
  .account label{
    margin-top:-10px;
    color: #707070;
    margin-left:-27px;
    font-size:12px;
    font-weight: bold;
    
  }



.navbar {
  background-color: white;
  display:flex;

  padding: 10px 20px;
  
}

.nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
}
nav a {
  
  padding: 0px 20px;
  /* color:black; */
  color:black;
  border-right: 1px solid #e42b26;
  text-decoration: none;
  display: flex;
  color: #212529;
  font-size: 0.9rem;
  max-width:900px;
  
  
 
  margin: 0;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  
 
  
} ;
  /* color: #212529; */
  margin: 0;


l
.nav-item {
  margin-right: 20px;
}

.nav-item.heart-icon {
  margin-left: auto; /* Push to the right */
}

.nav-link {
  text-decoration: none;
 

}

.nav-link:hover {
  color: black;
 
  font-weight: bold;
}

.dropdown .nav-link {
  cursor: pointer;
}
.navbar img{
  margin-left:270px;
  width:49px;
}
.navbar fig{
  margin-left:-26px;
  color: #707070;
  margin-top:9px;
   
    font-size:13px;
    font-weight: bold;
    
    overflow: clip;
}
.dropdown_menu {
  display: none;
  color:grey;
  position: absolute;
  background-color: #f9f9f9;
  /* box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2); */
  padding: 10px 0;
  border-radius: 4px;
  z-index: 1;
  min-width: 300px;
  
}

.dropdown_menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.dropdown_menu ul li {
  padding: 8px 16px;
}

.dropdown_menu ul li a {
  text-decoration: none;

  
  border-right: none;

  font-size: 1rem;
  font-weight:bold;
 
  gap:15px;
font-style: italic;

line-height: 1.5 ;
text-align: left;
margin-left:-10px;


  
 
  color: #676767;
  margin:0px;

}

.dropdown_menu ul li a:hover {
  
    color:  #d51912;
    background-color:rgb(211, 211, 211);
  
  
}

nav a:hover + .dropdown_menu,
.dropdown_menu:hover {
  display: block;
}




  
  .sar{
    text-align:center;
    margin-top:-5px;
  }
  .sar img{
  
      overflow-clip-margin: content-box;
      overflow: clip;
      width:100%;
  };

.carousel {
  position: relative;
  width: 100%;
  max-width:600px;
  overflow: hidden;
  
  
  
}


.carousel-images {
  display: flex;
  transition: transform 0.5s ease-in-out;
 
}


.carousel-images img {
  width: 100%;
  height: auto; 
  
  /* flex-shrink: 0;  */
}


.carousel-button {
  position: absolute;
 
  transform: translateYtop(-50%);
  top:50%;
  background-color:red;
  color: white;
  border: 3px solid red
  border-radius: 50%;
  width: 80px;

  
  font-size: 18px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  border-color:red;
 
  
  transition: background-color 0.3s ease;
  
  padding:5px;
  
   
    
   
    
    
}




.carousel-button.left {
  left: 80px;
 margin-top:180px;
 width:50px;
 
}
  



.carousel-button.right {
  right: 80px;
  margin-top:180px;
  width:50px;
}

.product-container{
  margin-top:2px;
  display:flex;
  position: relative;
  gap:30px;
  margin-left:190px;
  width:1450px;
}
.product-images {
  
 margin-top:2px;
 width:100%;
 transition: transform 0.5s ease-in-out;
}



.product-images img {
  width: 80px;
  height: 80px; 
  cursor:pointer;
 
 
}
.product-images p{

    margin: 0;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.5;
    color: #212529;
    background-color: #fff
}

.product-button {
  position: absolute;
 
 
  
 
  color: black;
  
 
  width: 80px;

  
  font-size: 18px;
  cursor: pointer;
  display: flex;
  
background-color:white;
 border-color: white;
 border:none;
  
 
  
   
    
   
    
    
}


.product-button.left {
  left: -100px;
 margin-top:35px;
font-size:25px;
font-weight: bold;

 
}
  



.product-button.right {
  right:140px;
  margin-top:35px;
  font-size: 25px;
  font-weight: bold;
 
}



 
